<h3>Téma felvétel/módosítás</h3>
<div ng-controller="themesCtrl">
    <input type="text" placeholder="Téma címe..." ng-model="temacim"><br>
    <textarea name="A téma kifejtése" cols="30" rows="10" class="mt-2"></textarea>
    <button ng-click="temafelv()">Téma felvétele</button>
</div>
<table class="table">
    <thead>
        <tr>
            <td>Témák</td>
            <td>Módosítás</td>
            
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="tema in temak">
            <td>{{tema}}</td>
            <td></a></td>
        </tr>
    </tbody>
</table>